h1 {
  text-align: center;
  
}
.about-container {
  display: flex;
  justify-content: center;
  background-color: rgba(68, 173, 177, 0.349);
  margin-top: 10px;
}
.about-section {
  border: 1px solid black;
  width: 90%;
  text-align: center;
  border-radius: .5em;
}

#bear-form {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgba(68, 173, 177, 0.349);
  
}
form {
  width: 90%;
  border: 1px solid black;
  border-radius: .5em;
  margin: 10px auto;
  padding: 10px;
  
}

.card {
  text-align: center;
  margin: 10px;
}
img {
  width: 100%;
  height: 200px;
}
.river-header {
  text-align: center;
}
#river-container {
  display: flex;
  justify-content: center;
  flex-wrap: row wrap;
}
.btn {
  margin: 10px;

}
